html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
.app-container {
  width: 100%;
  min-height: 100px;
  border: 1px solid #111;
}
.top {
  top: 0;
  display: block;
}
.left {
  left: 0;
  display: inline-block;
}
/* .menu-bar */
.menu-bar {
  background: rgba(255, 255, 255, 0.5);
  height: 20px;
  border-bottom: 1px solid grey;
}
.menu-bar .action-group {
  display: inline-block;
}
.menu-bar .action, .menu-bar .action-group .action {
  background: none;
  border: none;
  outline-style: outset;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-width: 2px;

}
.action:focus {
  outline-style: inset !important;
  outline-width: 2px;
}

#fileInput {
  width: 550px;
  height: 300px;
}
#preview {
  position: absolute;
  top: 35px;
  padding-top: 120px;
  left: 150px;
  border: 1px solid black;
  opacity: 0.5;
  transition: opacity 0.1s;
}
#preview a {
  
}
#preview a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100px;
  background: blue;
  content: "";
}
#preview:hover {
  opacity: 1;
  border: 0;
  transition: opacity 0.1s;
}
#preview:target {
  z-index: 50;
  opacity: 1;
  border: 0;
}
